* {
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    font-family: 'Inter', sans-serif;
}

header {
    padding: 1.2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem 0rem 2rem;
}

.logo a h1{
    color:#0047AB;
    font-size: 40px;
}

a{
    text-decoration: none;
}